$gris: #263237;
$grisClaro: #dfdfdf;
$verdeClaro: #4CAF50;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $verdeClaro; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
   @include margenes(50px,0px);
}

.jumbotronN {
  background-color: $verdeClaro; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn {
  color: a4a4a4;
  border-radius:0px;
  width: 100%
}

.btnJumbotron {
  color: a4a4a4;
}

.card{
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  @include margenes(10px,0px);
}

.cardImg{
  flex: 1 350px;
  padding: 2px 5px 2px 5px;
  @include margenes(10px,0px);
}

.card-body{
    color: black;
}

.footer {
   padding: 15px 32px;
   background-color: $grisClaro; 
   color: white;
   @include margenes(50px,0px);
}

.footerD {
   padding: 15px 32px;
   background-color: $gris; 
   color: white;
   @include margenes(150px,0px);
   color: white;
}

.footer_pag { 
  width:100%; 
  background-color:$gris; 
  min-height:50px; 
  padding:10px 0px 25px 0px ;
}

.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  @include margenes(10px,10px);
  margin-right: auto;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
 display:inline;
}
.foote_bottom_ul_amrc li a { 
  color:#999; margin:0 12px;}

.social_footer_ul { 
  display:table; margin:15px auto 0 auto; list-style-type:none; 
   }
.social_footer_ul li { 
  padding-left:20px; padding-top:10px; float:left; 
}
.social_footer_ul li a { 
  color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;
}
.social_footer_ul li i {
  width:20px; height:20px; text-align:center
}

  .tab-content{
   padding-top:10px;
  }

